
.select2-drop {
    z-index:9999999;
}
.select2-container .select2-search-choice-close {
    background-image: url('../js/lib/select2/select2.png');
    background-position: right top;
    background-repeat: no-repeat;
}